- content_for :title, 'Issues'

#issues
- if @issues
  %ul
    - @issues.each do |issue|
      %li
        %span.title= issue.title
        %span by #{issue.user.username}
        %span.ago= time_ago_in_words(issue.opened_on)