- content_for :title, 'Issues'

#main-container
  
  %ul#issues
  
    - @issues.each do |issue|
    
      %li#issue{:id => issue.id}
        %span= link_to(issue.title, issue_path(issue))
        %span by #{issue.user.username}
        %span= time_ago_in_words(issue.opened_on)
          
#side-container