- content_for :page_title, 'Issues'

#issues
- if @issues
  %ul
    - @issues.each do |issue|
      %li
        %span{:class => "title"}= issue.title
        %span by #{issue.user.username}
        %span{:class => "ago"}= time_ago_in_words(issue.opened_on)