- content_for :title, 'Issues'

- if @issues
  %ul#issues-list
    - @issues.each do |issue|
      %li
        %span= link_to(issue.title, "/issues/#{issue.id}")
        %span by #{issue.user.username}
        %span= time_ago_in_words(issue.opened_on)