<form action="/issue/new" method="post">
  <div>Title: <input type="text" name="title"></div>
  <div><textarea rows="20" cols="50" name="message">Write</textarea></div>
  <div><input type="submit" value="Submit"></div>
</form>