- content_for :title, 'New issue'

%form#new-issue{:action => "/issues/new", :method => "post"}

  %label{:class => ("error" unless @new_issue.title.nil? || !@new_issue.title.empty?)} Title
  %input{:type => "text", :name => "issue_title", :value => @new_issue.title}
  
  - if @errors && !@new_issue.title.empty?
    %p.error= @errors[:title]
  
  %label{:class => ("error" unless @new_issue.content.nil? || !@new_issue.content.empty?)} Write
  %textarea{:name => "issue_content"}= @new_issue.content
  
  - if @errors && !@new_issue.content.empty?
    %p.error= @errors[:content]
  
  %input.styled-button{:type => "submit", :value => "Submit new issue"}