<form action="/issues/new" method="post">
  <label>Title</label><br>
  <input type="text" name="issue_title"><br>
  <textarea name="issue_content">Write</textarea><br>
  <button class="large blue" type="submit">Send</button>
</form>