%form{:action => "/issues/new", :method => "post"}
  %label Title
  %input#issue_title{:type => "text", :name => "issue_title"}
  %textarea#issue_content{:name => "issue_content"} Write
  %button{:type => "submit"} Submit new issue