- content_for :title, 'Sign in'

-if flash[:error]
  %p.error= flash[:error]

%form{:action => "/signin?return_to=#{@return_path}", :method => "post"}
  %label Username
  %input{:type => "text", :name => "username"}
  %label Password
  %input{:type => "text", :name => "password"}
  %button.styled-button.small.green{:type => "submit"} Sign in