- content_for :title, 'Tags'

- if @tags
  
  #tag-cloud
  
    - if @tags.empty?
      %span No tags.
  
    - @tags.each do |tag|
      
      %span{:class => tag_popularity_class(tag)}
        =link_to(tag.name, "/tags/#{tag.name}")