/* Layout */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 14px;
}

ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

label, input, textarea, button {
  display: block;
  margin: 10px 0;
}

#wrapper {
  position: relative;
  margin: 0 auto;
  width: 800px; 
}

#user-nav {
  height: 54px;
  width: inherit;
}

#user-nav ul {
  position: absolute;
  right: 0;
  margin: 20px 0;
}

#user-nav li {
  display: inline;
  margin-right: 20px;
}

#global-nav li {
  display: inline;
  margin-right: 20px;
}

#content {
  margin: 40px 0;
  padding: 5px;
}


/* Issues */

#issues li {
  padding: 5px 0;
}

#issue_title {
  width: 600px;
}

#issue {
  margin: 0 0 50px 0;
}

#issue_content, #response_content {
  width: 600px;
  height: 200px;
}

.response {
  margin: 20px 0;
}