html, body, a, h1, h2, p, span, div, ul, li, form, label {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style-type: none; 
}

/* Element styles */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 150%;
}

h1 {
  font-size: 18px;
  color: #313131;
}

p {
  margin: 15px 0;
}

label, input, textarea {
  display: block;
}

label {
  margin: 10px 0 5px;
}

input, textarea {
  margin: 0 0 15px;
  padding: 0;
  font-size: 12px;
}

textarea {
  resize: vertical;
}

input[type="submit"] {
  margin: 0;
}

/* Links */

a {
  color: #52a5d4;
  text-decoration: none;
}

a:hover {
  color: #3583b9;
}

a.close {
  background-color: #cb5353;
  font-size: 11px;
}

a.close:hover {
  background-color: #b24949;
  color: #ffffff;
}

#tags a {
  color: inherit;
}

#tags a:hover {
  color: #727060;
}

/* Structure */

#wrapper {
  position: relative;
  margin: 0 auto;
  width: 800px;
}

#container {
  margin: 50px 0;
}

#main-container {
  width: 600px;
  float: left;
}

#side-container {
  width: 200px;
  float: right;
}

/* Navigation */

#user-nav {
  overflow: hidden;
  width: 100%
}

#user-nav ul {
  float: right;
  margin: 20px 0;
}

#user-nav li {
  display: inline;
  margin-right: 20px;
}

#main-nav ul {
  margin: 20px 0;
}

#main-nav li {
  display: inline;
  margin-right: 10px;
  background-color: #7f7f7f; 
  font-size: 14px;
}

#main-nav li:hover {
  background-color: #656565;   
}

#main-nav a {
  padding: 5px 10px 6px;
  color: inherit;
}

/* Button */

.styled-button {
  padding: 5px 10px 6px;
  background: #222222 url(/overlay.png) repeat-x;
  border-radius: 5px;
  border: 0px;
  border-bottom: 1px solid rgba(0,0,0,0.25);
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  cursor: pointer;
}

li.styled-button {
  padding: 5px 0;
}

/* Errors */

label.error {
  color: #a94545;
}

p.error {
  font-size: 13px;
  color: #a94545;
}

/* Inputs */

input.styled-button {
  background-color: #53ad4b;
  font-size: 11px;
}

input.styled-button:hover {
  background-color: #439340;
}

#edit-issue input.styled-button, #add-tag input.styled-button, #edit-user input.styled-button {
  display: inline;
}

#add-tag input.styled-button {
  vertical-align: top;
}

/* Forms */

#search {
  float: right;
}

#search label {
  display: inline;
  margin-right: 10px;
}

#search input {
  display: inline;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 4px;
}

#signin input[type="text"], #signin input[type="password"],
#signup input[type="text"], #signup input[type="password"] {
  width: 150px;
}

#new-issue input[type="text"], #new-issue textarea, #new-response textarea {
  width: 588px;
  padding: 5px;
}

#new-issue textarea, #new-response textarea, #edit-issue textarea {
  height: 200px;
}

#new-response {
  margin: 50px 0;
}

#edit-issue input[type="text"], #edit-issue textarea {
  width: 554px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.15);
}

#edit-user input[type="text"], #edit-user input[type="password"] {
  width: 150px;
}

#edit-user textarea {
  width: 300px;
  height: 100px;
  padding: 5px;
}

#add-tag {
  margin: 10px 0;
}

#add-tag input[type="text"] {
  display: inline;
  width: 80px;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.3);
}

/* Search */

h1.subheading {
  margin: 20px 0;
}

#users a {
  margin-right: 10px;
}

/* Issues */

#issues li {
  padding: 5px 0;
}

#issues div {
  display: inline-block;
  vertical-align: middle;
}

#issues div.info {
  width: 714px;
}

span.info {
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #4e4e4e;
}

#user-issues {
  margin: 20px 0;
  padding: 5px;
}

#user-issues ul {
  margin: 20px 0;
}

#issues li div.status {
  display: inline-block;
  width: 60px;
  margin-right: 10px;
  padding: 0 5px;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 3px;
  font-size: 13px;
  text-align: center;
}

/* Issue */

#issue {
  padding: 15px;
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 3px;
}

.response.answer {
  border: 2px solid rgba(0,100,0,0.15);
  font-size: inherit;
}

div.edit {
  float: right;
  font-size: 13px;
  margin-bottom: 10px;
}

div.edit li {
  display: inline;
  margin-left: 10px;
}

p.info {
  margin-top: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #4e4e4e;
}

p.issue-content {
  margin: 20px 0 0;
}

#side-container div.status {
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 3px;
  font-size: inherit;
  text-align: center;
}

#tags {
  padding: 10px;
}

#tags span {
  display: inline-block;
  margin: 3px 0;
  padding: 0 5px;
  background-color: #ece6c5;
  border-radius: 3px;
  font-size: 13px;
  color: #49473d;
}

.remove-tag {
  font-weight: 400;
}

#responses {
  margin: 40px 0;
}

.response {
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 3px;
  font-size: 13px;
  margin: 10px 0;
  padding: 15px;
}

.response p {
  clear: both;
}

/* Tags */

.small-popularity {
  font-size: inherit;
}

.medium-popularity {
  font-size: 22px;
}

.large-popularity {
  font-size:38px;
}

.vast-popularity {
  font-size: 54px;
}

/* Profile */

#profile {
  padding: 15px;
  border: 2px solid rgba(0,0,0,0.15);
  border-radius: 3px;
}

#profile p {
  margin: 10px 0;
  font-size: 13px;
}

span.strong {
  font-weight: bold;
}